body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-family: Ubuntu;
    margin: 0;
    max-width: 1600px;
    height: 1000px;
}

/* Задний фон */


main {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    overflow: hidden;
} 

.imagesСontainer {
    position: relative;
    width: 648px;
    height: 1108px;
    overflow: hidden;

}
.images {
    position: relative;
    width: 730px;
    height: 100%;
    top: -54px;
    right: 44px;
}

/* Нижний блок */


.bottomСontainer {
    display: flex;
    align-items: center;
    position: relative;
    width: 296px;
    height: 78px;
    bottom: 230px;
    background-color: #000000;
    z-index: 1;
}

.bottomText {
    text-transform: uppercase;
    margin: 16px 20px;
    color: aliceblue;
    text-align: left;
    font-weight: 550;
    font-size: 20px;
    line-height: 100%;
}

/* Название напитка */


.topContainer {
    box-sizing: border-box;
    background-color: #ffffff;
    position: relative;
    padding: 20px 55px;
    top: 52px;
    right: 356px;
    width: 744px;
    height: 184px;
    z-index: 1;
}

.nameDrink {
    margin: 0;
    color: #000000;
    text-align: left;
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
}